
@model IEnumerable<OnlineElection.Domain.ViewModels.MessegeViewModel>

@{ 
    var user = "21781DD9-4A1C-4DFB-933F-21633B94B61B";
}
<link href="~/Content/messageConversation.css" rel="stylesheet">

<ol class="chat" style="width:100%">

    @foreach (var item in Model)
    {
        
            <li class="other">
                <a class="content ConversationView" style="width:50%;color:black">
                    <div class="avatar"><img src="~/Content/Images/user.png" draggable="false" /></div>
                    <div class="msg">
                        <p style="font-size:1.8rem">@item.UserName</p>
                        <p style="font-size:1.8rem">@item.body</p>
                        <time style="font-size:1.8rem">@item.MessageDateString</time>
                    </div>
                    <input type="text" class="M_ID" hidden="hidden" value="@item.MessageID">
                </a>
            </li>
        

        

    }
</ol>