@model IEnumerable<OnlineElection.Domain.ViewModels.MessegeViewModel>


@foreach (var item in Model)
{

        <li>
            <a>
                <span class="image"><img src="~/Content/Images/@item.UserImage" alt="Profile Image" /></span>
                <span>
                    <span>@item.UserName</span>
                    <span class="time">@item.MessageDateString</span>
                </span>
                <span class="message">
                    <b>
                        @item.subject
                    </b>
                </span>
            </a>
        </li>

}
