@using OnlineElection.DAL
@model IEnumerable<OnlineElection.DAL.Faculty>

@{
    ViewBag.Title = "Create Poll";
    Layout = "~/ViewsAdmin/Shared/_AdminLayout.cshtml";
}



@section Styles {
    <link href="~/Content/vendors/bootstrapValidator/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Content/vendors/bootstrapValidator/icon_refresh.css" rel="stylesheet" />
    <!-- Bootstrap DateTimePicker-->
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet">
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Poll</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="alert alert-success alert-dismissible fade in" role="alert" hidden>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>New Poll</strong> is created and added to the System.
                        </div>
                    </div>
                </div>

                <form id="AddPollForm" method="post" action="" class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Poll Type</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" name="pollType" id="category">
                                <option>Batch Rep</option>
                                <option>SIS President</option>
                                <option></option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Poll Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date</label>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="startDate" placeholder="Start Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="endDate" placeholder="End Date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Candidates</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="candidates form-control " multiple="multiple" id="candidates" name="candidates" style="width: 100%">
                                @* Load <option></option> value from ajax call
                                    function -> getCandidates()
                                *@
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Eligible Voters</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="candidates form-control " multiple="multiple" name="Faculty" style="width: 100%" id="faculty">
                                @* faculty are getting from the partial View*@

                                @Html.Partial("~/ViewsAdmin/Polls/_GetFaculties.cshtml", Model)
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                            <div class='checkbox' id="batches">
                                @* Load <option></option> value from ajax call
                                    function -> getBatches()
                                *@
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="year" style="display:none">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Da</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" name="year" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/vendors/bootstrapValidator/bootstrapValidator.js"></script>
    @*<script src="~/Content/vendors/iCheck/icheck.min.js"></script>*@
    <!-- Bootstrap DateTimePicker-->
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#startDate').datetimepicker({
                minDate: new Date(),
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'bottom'
                }
            });
            $('#endDate').datetimepicker({
                useCurrent: false, //Important!
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'bottom'
                }
            });
            $("#startDate").on("dp.change", function (e) {

                $('#endDate').data("DateTimePicker").minDate(e.date);
            });
            $("#endDate").on("dp.change", function (e) {
                $('#startDate').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>

    <script type="text/javascript">

        function getChekedBatches() {
            var allVals = [];
            $('#batches :checked').each(function () {
                allVals.push($(this).val());
            });
            return allVals;
        }


        $(document).ready(function () {

            //images are passed for the selec2 input box
            //call this function in templateResult
            function getCandidateImage(selection) {
                if (!selection.id) { return selection.text; }
                var thumb = $(selection.element).data('thumb');
                if (!thumb) {
                    return selection.text;
                } else {
                    var $selection = $(
                  '<img src="' + thumb + '" alt=""><span class="img-changer-text">' + $(selection.element).text() + '</span>'
                );
                    return $selection;
                }
            }

            //checkkBox click event


            //select2 functions
            $(".candidates").select2({
                allowClear: true,
                templateResult: getCandidateImage,
                templateSelection: getCandidateImage,
                placeholder: "Candidates",

            });

            $("#faculty").select2({
                allowClear: true,
                placeholder: "Faculty",
            });


            //call the getCandidates() Ajax function in the dropdown
            getCandidates();


            $('#category').on('change', function () {
                var myValue = $(this).val();

                console.log(myValue);
                if (myValue === 'SIS President') {
                    $("#year").show(200, 'swing');
                }

                if (myValue === 'Batch Rep') {
                    $("#year").hide(300, 'swing');
                }

            })

            $('#faculty').on('change', function () {
                console.log($(this).val());
                getBatches($(this).val())


            })


            function getBatches(id) {

                if (id != null) {
                    $.ajax({
                        type: 'POST',
                        url: 'GetBatches',
                        contentType: 'application/json',
                        data: JSON.stringify(id),
                        dataType: 'Json',
                        async: true,
                        success: function (data) {
                            //if (data == true) {
                            //    $("#AddPollForm").bootstrapValidator('resetForm', true);
                            //}
                            console.log(data);
                            var batches = [];
                            for (var i = 0; i < data.length; i++) {

                                batches.push(

                                                "<label class='checkbox-inline'>" +
                                                    "<input type='checkbox' value='" + data[i].BatchID + "' >" + data[i].FacultyName + " " + data[i].name +
                                                "</label>"

                                )

                                console.log(data[i].name);

                            }
                            $('#batches').html(batches.join(" "))


                        }

                    });
                }
                else {
                    $('#batches').html(" ");
                }
            }



            //validation All fileds
            $('#AddPollForm').bootstrapValidator({

                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh gly-spin'
                },
                fields: {
                    pollType: {
                        message: 'The poll Type is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The SID is required and can\'t be empty'
                            },
                        }
                    },

                    name: {
                        message: "The name is not valid",
                        validators: {
                            notEmpty: {
                                message: 'The name is required and can\'t be empty'
                            }
                        }
                    },
                    daterange: {
                        message: "The Date is not valid",
                        validators: {
                            notEmpty: {
                                message: 'The Date is required and can\'t be empty'
                            }
                        }
                    },

                    candidates: {
                        validators: {
                            notEmpty: {
                                message: 'The candidates is required and can\'t be empty'
                            }
                        }
                    },

                    Faculty: {
                        validators: {
                            notEmpty: {
                                message: 'The Faculty is required and can\'t be empty'
                            }
                        }
                    }

                }
            }).on('success.form.bv', function (e) {
                e.preventDefault();

                var pollType = $("[name='pollType']").val();
                var name = $("[name='name']").val();
                var startDate = $("#startDate").val();
                var endDate = $("#endDate").val();
                var Faculty = $("[name='Faculty']").val();
                var Year = $("[name='Year']").val();

                var batches = [];
                $('#batches input:checked').each(function () {
                    batches.push(this.value);
                });


                var candidate = $("#candidates").select2("data")
                var candidateID = new Array();
                for (var i = 0; i < candidate.length; i++) {
                    candidateID[i] = candidate[i].id;
                }

                var poll = {

                    pollType: pollType,
                    name: name,
                    startDate: startDate,
                    endDate: endDate,
                    Faculty: Faculty,
                    Year: Year,
                    batch: batches,
                    candidateID: candidateID
                }


                $.ajax({
                    type: 'POST',
                    url: 'CreatePoll',
                    contentType: 'application/json',
                    data: JSON.stringify(poll),
                    dataType: 'Json',
                    async: true,
                    success: function (data) {
                        if (data == true) {
                            $('#candidates').val('').trigger('change');
                            $('#faculty').val('').trigger('change');
                            $("#AddPollForm").bootstrapValidator('resetForm', true);                          
                            $('#AddPollForm')[0].reset();
                            $(".alert").show(1000);
                        }
                    }

                });

                $('#btn').prop('disabled', false);
            });
        });


        //Ajax function
        //Get all the Candidates
        function getCandidates() {
            $.ajax({
                url: 'GetCandidates',
                type: 'POST',
                dataType: 'html',
                success: function (data) {
                    $('#candidates').html(data);
                }
            });
        }


    </script>
}


