@model IEnumerable<OnlineElection.DAL.person>


    @foreach (var item in Model)
    {
        <option value="A" data-icon=@Url.Content("~/Content/Images/bg.jpg") class="left circle">@item.FirstName</option>
    }


