
@{
    ViewBag.Title = "View";
}





<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>






<body>       
    <div class="row">
        <a class="col s8 m3" style="margin-top:5%;margin-left:5%;">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/Images/images.jpg" />
                    <span class="card-content white-text">
                        <span class="card-title ">Create Poll</span>
                    </span>
                </div>
            </div>
        </a>
        <a class="col s8 m3" style="margin-top:5%;margin-left:5%;" href="../Vote/index">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/Images/images.jpg" />
                    <span class="card-content white-text">
                        <span class="card-title ">Create Poll</span>
                    </span>
                </div>     
            </div>
        </a>
        <a class="col s8 m3" style="margin-top:5%;margin-left:5%;" href="../CreatePoll/index" >
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/Images/election.jpg"/>
                    <span class="card-content white-text">
                        <span class="card-title ">Create Poll</span>
                    </span>
                </div>          
           </div>
 </a>
</div>        
</body>