@model OnlineElection.DAL.person

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

}

<style>
    .registerform {
        margin-top: 50px;
    }
</style>





<div class="row registerform">
    <div class="col s10 m8 l4 offset-l4 offset-m2 offset-s1">

        <div class="card">
            <div class="card-content">
                <div class="card-title center-align"><h4>Register Form</h4></div>
                <div class="row">

                    <form id="form" method="post">
                        <div class="row">

                            <div class="input-field col s12 ">
                                <i class="material-icons prefix">subtitles</i>
                                <input id="SID" name="SID" type="text" class="validate">
                                <label for="Phone">Student ID</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>                              
                                <input id="email" name="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="confirmPassword" name="confirmPassword" type="password" class="validate">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>

                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" id="submit" type="submit" name="action" style="width:100%">Submit</button>
                            </div>
                            <div class="input-field col s10 offset-s1" style="margin-bottom:-30px">
                                <p> Already have an account ? <a href="login"> Login</a></p>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script>

        $(document).ready(function () {

            $.validator.setDefaults({
                errorClass: 'invalid',
                validClass: "valid",
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .attr('data-error', error.text());
                },
                submitHandler: function () {

                    event.preventDefault();
                    var SID = $("[name='SID']").val();
                    var email = $("[name='email']").val();
                    var password = $("[name='password']").val();

                    var user = {

                        SID: SID,
                        email: email,
                        password: password

                    }

                   // console.log(SID + " " + email + " " + password);

                    $.ajax({
                        type: 'POST',
                        url: 'Register',
                        contentType: 'application/json',
                        data: JSON.stringify(user),
                        dataType: 'Json',
                        async: true,
                        success: function (data) {
                            if (data == true) {
                                Materialize.toast('You will recieve an email by confirming </br> your request. Thank you !', 4000, 'blue')
                            }
                        }

                    });

                }

            });

            $.validator.addMethod("regx", function (value, element, regexpr) {
                return regexpr.test(value);
            }, "must contain more than 8 characters & at least 1 Alphabet and 1 Number");

            $("#form").validate({
                rules: {
                    SID: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    },

                    email: {
                        required: true,
                        email: true
                    },


                    password: {
                        required: true,
                        regx: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/
                    },
                    confirmPassword: {
                        equalTo: "#password"
                    }
                },

                messages: {
                    SID: {
                        minlength: "Enter valid SLIIT ID",
                        maxlength: "Enter valid SLIIT ID"
                    }
                }
            });

        });


    </script>
}