 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<link rel="stylesheet" href="~/Content/material.css">
<link rel="stylesheet" href="scripts/materialize/materialize.min.css">
<script type="text/javascript" src="scripts/jquery-2.1.1.min.js"></script>
<script src="scripts/materialize/materialize.min.js"></script>



<body style="background-color:cornflowerblue">
    
    <!--creation of the create Poll Form-->
    <form method="post" id="form1" >
        <div class="card horizontal" style="margin-left:15%;margin-right:15%;">
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">create poll</span>
                    <div class="row">
                        <div class="input-field col s3">
                            <label>Poll Type</label>
                        </div>
                        <div class="input-field col s8">
                            <a class="btn dropdown-button" href="#" data-activates="dropdown1" style="background-color:aliceblue;color:black;">PollType<i class="mdi-navigation-arrow-drop-down right"></i></a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li>
                                    <input type="checkbox" name="batchrep" id="batchrep" value="1" />
                                    <label for="batchrep">SelectBatchRep</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="ChoiceTripPlaces" id="ChoiceTripPlaces" value="2" />
                                    <label for="ChoiceTripPlaces">ChoiceTripPlaces</label>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <label>Poll Name</label>
                        </div>
                        <div class="input-field col s8">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="Name" name="Name" type="text" class="materialize-textarea" required="" aria-required="true">
                            <label for="address">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <label>No of candidates</label>
                        </div>
                        <div class="input-field col s8">
                            <i class="material-icons prefix">label</i>
                            <input id="max_candidates" name="max_candidates" type="number" class="materialize-textarea">
                            <label for="address">No Of Candidates</label>
                        </div>
                    </div>
                    <label for="Name">Name of Candidates</label>
                    <div class="chips chips-placeholder"></div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card" style="background-color:aquamarine;">
                                <div class="card-content white-text">
                                    <span class="card-title">Computing</span>
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Year</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown3" style="background-color:aliceblue;color:black;">Year<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown3' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="Year1" id="year1" value="1" />
                                                    <label for="year1">year1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year2" id="year2" value="2" />
                                                    <label for="year2">year2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year3" id="year3" value="3" />
                                                    <label for="year3">year3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year4" id="year4" value="4" />
                                                    <label for="year4">year4</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Batch</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown4" style="background-color:aliceblue;color:black;">Batch<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown4' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="batch1" id="batch1" value="1" />
                                                    <label for="batch1">batch1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch2" id="batch2" value="2" />
                                                    <label for="batch2">batch2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch3" id="batch3" value="3" />
                                                    <label for="batch3">batch3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch4" id="batch4" value="4" />
                                                    <label for="batch4">batch4</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch5" id="batch5" value="5" />
                                                    <label for="batch5">batch5</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card" style="background-color:aquamarine;">
                                <div class="card-content white-text">
                                    <span class="card-title">Business</span>
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Year</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown5" style="background-color:aliceblue;color:black;">Year<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown5' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="Year11" id="year11" value="1" />
                                                    <label for="year11">year1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year21" id="year21" value="2" />
                                                    <label for="year21">year2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year31" id="year31" value="3" />
                                                    <label for="year31">year3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year41" id="year41" value="4" />
                                                    <label for="year41">year4</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Batch</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown6" style="background-color:aliceblue;color:black;">Batch<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown6' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="batch11" id="batch11" value="1" />
                                                    <label for="batch11">batch1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch21" id="batch21" value="2" />
                                                    <label for="batch21">batch2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch31" id="batch31" value="3" />
                                                    <label for="batch31">batch3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch41" id="batch41" value="4" />
                                                    <label for="batch41">batch4</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch51" id="batch51" value="5" />
                                                    <label for="batch51">batch5</label>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card" style="background-color:aquamarine;">
                                <div class="card-content white-text">
                                    <span class="card-title">Engineering</span>
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Year</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown7" style="background-color:aliceblue;color:black;">Year<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown7' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="Year12" id="year12" value="1" />
                                                    <label for="year12">year1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year22" id="year22" value="2" />
                                                    <label for="year22">year2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year32" id="year32" value="3" />
                                                    <label for="year32">year3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="year42" id="year42" value="4" />
                                                    <label for="year42">year4</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s3">
                                            <label>Batch</label>
                                        </div>
                                        <div class="input-field col s8">
                                            <a class="btn dropdown-button" href="#" data-activates="dropdown8" style="background-color:aliceblue;color:black;">Batch<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                            <ul id='dropdown8' class='dropdown-content'>
                                                <li>
                                                    <input type="checkbox" name="batch12" id="batch12" value="1" />
                                                    <label for="batch12">batch1</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch22" id="batch22" value="2" />
                                                    <label for="batch22">batch2</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch32" id="batch32" value="3" />
                                                    <label for="batch32">batch3</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch42" id="batch42" value="4" />
                                                    <label for="batch42">batch4</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="batch52" id="batch52" value="5" />
                                                    <label for="batch52">batch5</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <label>Poll Date</label>
                        </div>
                        <div class="input-field col s8">
                            <i class="material-icons prefix">today</i>
                            <input id="icon_prefix" type="datetime-local" class="materialize-textarea">

                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field col s6 m6 l6" style="margin-top:20px">
                            <a href="" onclick="poll()">CreatePoll</a>
                        </div>
                       
                        <div class="input-field col s6 m6 l6" style="margin-top:20px">
                            <a href="">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</body>

<script>
    $('.chips-placeholder').material_chip({
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
    });
    var chip = {
        tag: 'chip content',
        image: '', //optional
        id: 1, //optional
    };
    function poll()
    {
        var type=document.getElementById('dropdown1')
        var Name = document.getElementById('Name').value
        var maxCan=document.getElementById('max_candidates').value
        var Date=document.getElementById('icon_prefix').value
        alert("success :"+Name+"and"+Date+"and"+maxCan+"or"+type);
        
       
        
    }
</script>






























