<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <link rel="stylesheet" href="~/Content/materialize.css">
        <link href="~/Content/icons/material-icons.css" rel="stylesheet">


        

        <style>
            label {
                width: 100%;
            }

                label:after {
                    -moz-transition-property: all !important;
                    -o-transition-property: all !important;
                    -webkit-transition-property: all !important;
                    transition-property: all !important;
                    font-size: 0.8rem;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;
                }

                label:not(.active):after {
                    -moz-transform: translateY(-140%);
                    -ms-transform: translateY(-140%);
                    -o-transform: translateY(-140%);
                    -webkit-transform: translateY(-140%);
                    transform: translateY(-140%);
                }
        </style>

    </head>
<body style="background-image:url('../content/images/bg.jpg')">

    <div class="row">
        <div class="col m10 offset-m1">
            @RenderBody()
        </div>
    </div>

    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    @RenderSection("Scripts", false/*required*/)

</body>
</html>
