<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>

        <link rel="stylesheet" href="~/Content/materialize.css">
        @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
        <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">


        @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>*@
        <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/Scripts/materialize.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>

        <style>
            label {
                width: 100%;
            }

                label:after {
                    -moz-transition-property: all !important;
                    -o-transition-property: all !important;
                    -webkit-transition-property: all !important;
                    transition-property: all !important;
                    font-size: 0.8rem;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;
                }

                label:not(.active):after {
                    -moz-transform: translateY(-140%);
                    -ms-transform: translateY(-140%);
                    -o-transform: translateY(-140%);
                    -webkit-transform: translateY(-140%);
                    transform: translateY(-140%);
                }
        </style>

    </head>
<body style="background-image:url('../content/images/bg.jpg')">

    <nav style="background-color:transparent">
        <div class="nav-wrapper" >
            <ul class="left hide-on-med-and-down">
                <li><a>Online Election</a></li>
                
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href=""> @Session["SID"]</a></li>
                <li><a href="Account/LogOut">Log Out</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col m10 offset-m1">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
